################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskWebApi/.vs/TaskWebApi/FileContentIndex/279013b1-911a-4c95-965c-8881b488a28c.vsidx
/TaskWebApi/.vs/TaskWebApi/FileContentIndex/97072d03-3ee8-46fe-873c-38a7aae5882c.vsidx
/TaskWebApi/.vs/TaskWebApi/FileContentIndex/e258d85f-6804-45d7-a98f-be1024809ab6.vsidx
